[submodule "pcbfiles/MX_Alps_Hybrid"]
	path = pcbfiles/MX_Alps_Hybrid
	url = https://dezlidezlidezli@github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "pcbfiles/Type-C.pretty"]
	path = pcbfiles/Type-C.pretty
	url = https://dezlidezlidezli@github.com/ai03-2725/Type-C.pretty
[submodule "pcbfiles/kicad-keyboard-parts.pretty"]
	path = pcbfiles/kicad-keyboard-parts.pretty
	url = https://dezlidezlidezli@github.com/ebastler/kicad-keyboard-parts.pretty
[submodule "pcbfiles/Keebio-Parts.pretty"]
	path = pcbfiles/Keebio-Parts.pretty
	url = https://dezlidezlidezli@github.com/keebio/Keebio-Parts.pretty
[submodule "pcbfiles/Keybage"]
	path = pcbfiles/Keybage
	url = https://github.com/Keybage/KeybageLibrary.git
